.mainViewContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px), (max-height: 900px) {
  .mainViewContainer {
    transform: translate(-50%, -50%) scale(var(--scale-main-view-ratio));
  }
}

.mainView {
  display: grid;
  grid:
    'h  s' 1fr
    'c  s' 4fr
    / 5fr 1fr;
  width: 60vh;
  min-width: 600px;
  height: 60vh;
  min-height: 600px;
  margin: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .side {
    grid-area: s;

    // 计算所得 width: 60vh / (5 + 1);
    width: 10vh;
    padding: 10px 0 10px 10px;
    overflow: hidden;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    justify-self: center;
  }

  .content {
    grid-area: c;
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }

  .header {
    grid-area: h;
    margin-bottom: 10px;
    padding: 0 10px;
  }

  &.custom,
  &.intense {
    .content {
      transform: rotate(180deg);
    }
  }
}

// 其他可能的组合示例
.verticalUpright {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.verticalSideways {
  writing-mode: vertical-lr;
  text-orientation: sideways;
}

.sidewaysRight {
  writing-mode: sideways-rl;
  text-orientation: sideways-right;
}

.mixedOrientation {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
