* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'SimHei', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  font-variant-numeric: tabular-nums; /* 让非等宽字体中的数字表现为等宽 */
  font-size: 14px;
}

#root {
  width: 100vw;
  height: 100vh;
}
