.wordList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wordHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.word {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}

.phonetic {
  color: var(--text-secondary);
}

.audioMananger {
  cursor: pointer;
}

.audioPlayer {
  width: 0;
  height: 0;
  opacity: 0;
}

.source {
  color: var(--text-secondary);
  text-decoration: underline;
}

.meanings {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.meaning {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.partOfSpeech {
  color: var(--text-secondary);
  font-style: italic;
}

.definitions {
  list-style-type: disc;
  padding-left: 20px;
}

.definition {
  color: var(--text-color);
}
