.container {
  .header {
    text-align: right;
    padding-right: 16px;
    flex-wrap: wrap;
  }
  .refresh {
    cursor: pointer;
  }
}

.wordList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wordCard {
  padding-bottom: 8px;
}

.wordHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.word {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}

.phonetic {
  color: var(--text-secondary);
  font-size: 14px;
}

.audioMananger {
  cursor: pointer;
}

.audioPlayer {
  width: 0;
  height: 0;
  opacity: 0;
}

.source {
  color: var(--text-secondary);
  text-decoration: underline;
}

.meanings {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.meaning {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.partOfSpeech {
  color: var(--text-secondary);
  font-style: italic;
  font-size: 14px;
}

.definitions {
  list-style-type: disc;
  padding-left: 24px;
  margin: 0;
}

.definition {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 4px;
}
