.historicalSection {
  color: var(--text-color);
  margin-top: 16px;

  li,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    background-color: var(--item-bg);
    margin-bottom: 5px;
  }

  a {
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
  }

  a:visited {
    color: var(--text-color);
  }

  a:hover {
    color: var(--primary-color);
  }

  [class*='lemmaPicture'] {
    margin-bottom: 5px;
  }

  img[class*='picture'] {
    margin: 5px 5px 0;
  }
}

.title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.source {
  font-size: var(--font-size-xs);
  color: var(--text-secondary);
  margin-left: 10px;
}
