.newsContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 12px;
}

.tab {
  flex: 0 0 auto;
  margin: 0 4px;
  padding: 2px;
  border: none;
  background: none;
  font-size: var(--font-size-sm);
  color: var(--text-secondary);
  transition: all 0.2s ease;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    color: var(--text-color);
    transform: scale(1.1);
  }

  &.active {
    position: relative;
    color: var(--accent-color);
    transform: scale(1.1);

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--accent-color);
      content: '';
    }
  }
}

.newsList {
  display: none;
  gap: 8px;
  flex-direction: column;

  &.activeList {
    display: flex;
  }
}

.newsItem {
  display: flex;
  gap: 4px;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.2s ease;
  align-items: center;
  flex-wrap: wrap;

  &:hover {
    color: var(--text-color);
    text-decoration: none;
    transform: translateY(-2px);
  }

  &:visited {
    color: var(--text-color);
    text-decoration: none;
  }
}

.newsItemContent {
  display: flex;
  align-items: center;
  gap: 4px;
}

.newsItemMore {
  display: flex;
  flex: auto;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
}

.order {
  font-size: var(--font-size-lg);
  font-weight: 500;
  margin-right: 4px;
}

.newsTitle {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tagImg {
  width: 12px;
  height: 12px;
}

.avatar {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.tag,
.source,
.name {
  font-size: var(--font-size-sm);
  color: var(--text-secondary);
}

.tag {
  font-weight: bold;
}
