.container {
  padding: 10px 0 10px 10px;
}

.quote {
  .content {
    line-height: 1.6;
    color: var(--text-color);
    font-style: italic;
  }

  .author {
    color: var(--text-secondary);
    text-align: right;

    .source {
      opacity: 0.8;
    }
  }
}
