.toolbar {
  height: 18px;
  text-align: right;
  padding-right: 16px;
  flex-wrap: wrap;
}

.refresh {
  width: 16px;
  height: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
  fill: var(--text-secondary);

  &:hover {
    transform: rotate(180deg);
    fill: var(--text-color);
  }
}
