.timeSection {
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
}

.currentTime {
  font-size: var(--font-size-heading-1);
  font-weight: bold;
  margin-right: 10px;
}

.currentDate {
  color: var(--text-secondary);
}

.lunarInfoSection {
  position: relative;
  display: flex;
  align-items: center;
}

.lunarInfo {
  color: var(--text-secondary);
}

.findMoreIcon {
  width: 14px;
  height: 14px;
  margin-left: 10px;
  cursor: pointer;
  fill: var(--text-secondary);
}

.lunarInfoContent {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 100;
  width: 320px;
  padding: 12px;
  border-radius: 8px;
  background: var(--settings-bg);
  font-size: var(--font-size);
  box-shadow: 0 4px 8px var(--box-shadow-color);
  transform: translateX(-50%) translateY(-10px);
  margin-top: 8px;

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--settings-bg);
  }

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--settings-bg);
  }
}

.lunarInfoContentTitle {
  font-size: var(--font-size-lg);
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.lunarInfoContentSubTitle {
  margin-bottom: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 6px;
}

.lunarInfoItem {
  display: flex;
  text-align: left;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.lunarInfoItemTitle {
  flex-shrink: 0;
  width: 72px;
  margin-right: 8px;
}

.holidayHighlight {
  margin: 0 5px;
  font-size: var(--font-size-heading-4);
  font-weight: bold;
  color: var(--accent-color);
}
