.themeToggleContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.themeToggle {
  border: none;
  border-radius: 50%;
  background: none;
  font-size: var(--font-size-heading-3);
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-bg);
  }
}

.themeLabel {
  color: var(--text-color);
}
